@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Jacques+Francois+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.App {
  display: flex;
}

.Logo {
  pointer-events: none;
  width: 3vw;
  height: auto;
}

.Logo-title {
  width: 4vw;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo-rotate {
    animation: Logo-Move infinite 2s linear;
  }
}

.App-body{
  display: block;
  min-height: 90vh; /*1vh*/
  width: 100vw;
  z-index: 1;
  margin-top: 86vh;
  background-image: linear-gradient(#0059ff00, #001c508c, #00102b);
  opacity: 0.9;
}

.App-body p{
  color: white;
  font-size: 1.5vw;
  margin: 0;
  padding: 2vh;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding-left: 12vw;
  a {
    color: white;
    /* text-decoration: none; */
    font-weight: 800;
  }
}

#certification {
  display: block;
  margin: 0;
  position:relative;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
}

#links{
  z-index: 1;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  top: 30vh;
  width: fit-content;
  position: absolute;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1vw;
  /* bottom: 2vh; */
  img {
    width: 3.5vw;
    height: auto;
    padding: 0 1vw;
  }
}

#first-sentence {
  margin-top: 15vh;
  font-weight: 900;
  text-align: center;
  padding-left: 0;
}

#disclaimer {
  font-size: 1vw;
  padding-left: 25vw;

}

Footer {
  display: block;
  width: 100vw;
  z-index: 2;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(#060b13, #152138);
  color: white;
  padding: 1.2vh;
}

.title-settings{
  padding: 0;
  padding-top: 1vh;
  color: white;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  top: 10vh;
  width: fit-content;
  position: absolute;
  font-size: 3.5vw;
  margin-top: 0;
  font-family:'Fascinate Inline', cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  animation: Move-Title 2s;
}

.about-me {
  padding-top: 1vh;
  color: white;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  position: absolute;
  font-size: 2vw;
  margin-top: 0;
  font-family:'Concert One', cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
}
/* #line-1 {
  margin-top:17vh;
  animation: Move-line-left 3s;
} */

#line-2 {
  margin-top:18vh;
  animation: Move-line-right 3s;
}

.App-header {
  min-height: 6vh;
  display: block;
  padding: 1.2vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(#004fe363, #00000000); /*111d32*/
  position: fixed;
  width:100vw;
  z-index: 2;
}

.Sand {
  display: block;
  width: 100vw;
  z-index: 0;
  position: fixed;
  /* background-image: linear-gradient(#f5e6ca, #f5e6ca); */
  background-size: cover;
}

.Arrow {
  display:block;
  color: white;
  font-size: 5vw;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  top: 65vh;
  width: fit-content;
  /* margin: auto;Z */
  z-index: 1;
  rotate: 90deg;
  font-family: 'Courier New', Courier, monospace;
  font-weight:900;
  animation: Arrow-Move 2s infinite;
}

@keyframes Arrow-Move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Move-Title {
  0% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes Move-line-left {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes Move-line-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes Logo-Move {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
