@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Jacques+Francois+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.App {
  display: flex;
  /* overflow-y: scroll; */
  scrollbar-color: rgb(255, 255, 255) #ffffff;
  background-color: #130c31;
  overflow-x: hidden;
}

.Logo {
  /* pointer-events: none; */
  width: 3vw;
  height: auto;
  animation: Logo-Move 2s;
  transition: transform 1s;
}

.Logo:hover {
  transform: scale(1.3);
}

.Logo-title {
  width: 4vw;
  height: auto;
}

.App-body{
  display: block;
  min-height: 200vh; /*1vh*/
  width: 100vw;
  z-index: 1;
  margin-top: 86vh;
  background-image: linear-gradient(#0059ff00, #001c508c, #00102b);
  opacity: 0.9;
  overflow-x: hidden;
}

.App-body p{
  color: white;
  font-size: 1.5vw;
  margin: 0;
  padding: 2vh;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding-left: 12vw;
  a {
    color: white;
    /* text-decoration: none; */
    font-weight: 800;
  }
}

.Small-shape {
  display: block;
  width: 100vw;
  z-index: 1;
  position: absolute;
  top: 10vh;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  background-image: linear-gradient(#f5e6ca, #f5e6ca);
  background-size: cover;
  height: 10vh;
  animation: Rotate-square 10s infinite;
}

#certification {
  display: block;
  margin: 0;
  position:relative;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
}

.App-header {
  min-height: 6vh;
  display: block;
  padding: 1.2vh;
  color: white;
  background-image: linear-gradient(#004fe363, #00000000); /*111d32*/
  position: fixed;
  width:100vw;
  z-index: 2;
}

#links{
  position:relative;
  display: flex;
  /* margin-top: 10vh; */
  flex-direction: row;
  justify-content: center;
  /* text-align: center; */
  margin: 0 auto 1vw auto;
  /* top: 0; */
  animation: Move-links 2s;
  img {
    margin: 0 0.3vw;
    width: 1.5vw;
    height: auto;
    padding: 5px;
    border: white 3px solid;
    border-radius: 10px;
    transition-property: border, width  ease-in-out;
    transition-duration: 0.5s;
    /* transition: border 1s; */
  }
  img:hover {
    /* filter: invert(0.5);
     */
     width: 1.7vw;
     border: #ffffff00 3px solid;
    /* color: red; */
  }
}

#first-sentence {
  margin-top: 15vh;
  font-weight: 900;
  text-align: center;
  padding-left: 0;
}

#disclaimer {
  font-size: 1vw;
  padding-left: 25vw;

}

#triangle {
  width: 1500px;
  height: auto;
  position: absolute;
  /* left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content; */
  margin-top: 15vh;
  right: 7vw;
  z-index: 1;
  animation: Move-traingle 2s ease-in-out;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
  color: white;
  h2 {
    font-size: 2.7vw;
    font-weight: 900;
    padding: 1vh;
    text-align: center;
    font-family: "Fascinate inline", cursive;
  }
  h3 {
    font-size: 1.5vw;
    font-weight: 800;
    /* padding: 1vh; */
    text-align: center;
    font-family: "Fascinate inline", cursive;
  }
  img {
    height: 10vh;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.5vw;
    font-weight: 800;
    padding: 1vh;
    text-align:justify;
    font-family: 'Concert One', Courier, monospace;
  }
}

.project {
  background-color: #001c508c;
  border: #6b9fff8c 5px solid;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: #00102b 0px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  margin: 10px;
  position:relative;
  right: 0; 
  margin-inline: auto; 
  /* width: fit-content; */
  padding: 1vh;
  margin-top: 20px;
  font-size: 1.5vw;
  font-family: 'Courier New', Courier, monospace;
  /* text-align: left; */
  padding-left: 1vw;
  animation: Move-line-left 3s;
  transition-property: transform;
  transition-duration: 1s;
  a {
    color: white;
    font-weight: 800;
  }
}

.project:hover {
  background-color: #5c9bffde;
  box-shadow: #00102b 0px 0px 50px;
  /* filter: blur(3px); */
  transform: scale(1.1);
}

.project-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh auto 1vh auto;
  margin-top: 10vh;
  animation: Move-line-right 3s;
  position: relative;
  width: 50vw;
}

.project-image {
  /* width: 500px; */
  display: block;
  height: 100%;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.project-buttons {
  transition-duration: 1s;
  transition-property: animation;
  filter: blur(0px);
  display: none;
  z-index: 1;
}

.project:hover{
  .project-buttons {
    /* width: 50%; */
    height: 43%;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto auto;
    filter: blur(0px) !important;
    position: absolute;
    z-index: 2;
    top: 17%;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    background-color: #001c508c;
    animation: Move-visit-buttons 1s;
    filter: blur(0px);
    backdrop-filter: sepia(50%);
    z-index: 9999999999999999999;
  }
}

.demo-visit-button {
  text-decoration: none;
  margin: 10px;
  margin-top: 15%;
  height: 75px;
  padding: 5px;
  display: block;
  border-radius: 10px;
  background-color: #21d3ff8c;
  color: white;
  font-size: 1.5vw;
  font-family: 'Concert One', cursive;
  transition-duration: 0.5s;
  transition-property: background-color;
  p {
    margin: auto auto;
    top: 50%;
    /* margin: 0 auto; */
    padding: auto;
    transition-duration: 0.5s;
    transition-property: color;
  }
}

.demo-visit-button:hover {
   background-color: white; /*0045bbbe */
  p {
    color: #21d3ff8c
  }
}
.na-button:hover {
  background-color: rgb(255, 103, 103);
  p {
    color: white;
  }

}

.github-visit-button {
  margin: 10px;
  height: 75%;
  padding: 5px;
  border-radius: 10px;
  background-color: #21d3ff8c;
  transition-duration: 0.5s;
  transition-property: background-color;
  img {
    margin: 0;
    transition-duration: 0.5s;
    transition-property: filter;
  }
}

.github-visit-button:hover {
  background-color: white;
}

Footer {
  display: block;
  width: 100vw;
  height: max(5vh, 40px);
  z-index: 2;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(#0059ff00, #002663);
  color: white;
  padding: 1.2vh;
}

.title-settings{
  padding: 0;
  padding-top: 1vh;
  color: white;
  left: -44vw; 
  right: 0; 
  margin-inline: auto; 
  top: clamp(50px, 13vh, 200px);
  width: fit-content;
  position: absolute;
  font-size: max(10px, 5rem);
  margin-top: 11vh;
  font-family:'Fascinate Inline', cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  animation: Move-Title 2s;
}

#name {
  top: clamp(150px, 18vh, 250px);
  left: -10vw;
  font-size: max(25px, 3.5vw);
  transition-property: font-size, color;
  transition-duration: 1s;
}

#name:hover {
  color:#79ffe9;
  font-size: max(30px, 3.7vw);
}

.hi {
  font-size: 3vw;
  font-family:'Concert One', cursive;
  font-size: min(15rem, 50px);

}

.about-me {
  padding-top: clamp(5px, 0.2vh, 2vh);
  color: white;
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  position: absolute;
  font-size: 2vw;
  font-family:'Concert One', cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  overflow-x: hidden;
}
/* #line-1 {
  margin-top:17vh;
  animation: Move-line-left 3s;
} */

#line-2 {
  margin-top:29vh;
  animation: Move-line-right 3s;
  left: 6vw; 
}

#line-3 {
  margin-top:34vh;
  animation: Move-line-right 3s;
  left: 16vw; 
}

.Sand {
  display: block;
  width: 100vw;
  z-index: 0;
  position: absolute;
  overflow-x: hidden;
  /* background-image: linear-gradient(#f5e6ca, #f5e6ca); */
  background-size: cover;
}

.Arrow {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  display:block;
  color: white;
  background-color: #ffffff00;
  font-size: min(5rem, 50px);
  position: absolute;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  top: max(82vh, 500px);
  width: fit-content;
  /* margin: auto;Z */
  z-index: 1;
  rotate: 90deg;
  font-family: 'Courier New', Courier, monospace;
  font-weight:900;
  animation: Arrow-Move 2s infinite;
}

@keyframes Arrow-Move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Move-Title {
  0% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes Move-line-left {
  0% {
    transform: translateX(-100vw);
    overflow: none;
  }
  100% {
    transform: translateX(0vw);
    overflow: none;
  }
}

@keyframes Move-line-right {
  0% {
    transform: translateX(30vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes Move-links {
  0% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes Logo-Move {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes Move-square {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes Move-traingle {
  0% {
    transform: rotate(180deg) ;

  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes Rotate-square {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}


@keyframes Reform-Title {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes Move-visit-buttons {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0vh);
  }
}