@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Jacques+Francois+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.App {
  display: flex;
  /* overflow-y: scroll; */
  scrollbar-color: rgb(255, 255, 255) #ffffff;
  background-color: #130c31;
  scrollbar-color: pink lightblue;
}

.Logo {
  pointer-events: none;
  width: 3vw;
  height: auto;
  animation: Logo-Move 2s;
}

.Logo-title {
  width: 4vw;
  height: auto;
}

.App-body{
  display: block;
  min-height: 200vh; /*1vh*/
  width: 100vw;
  z-index: 1;
  margin-top: 86vh;
  background-image: linear-gradient(#0059ff00, #001c508c, #00102b);
  opacity: 0.9;
}

.App-body p{
  color: white;
  font-size: 1.5vw;
  margin: 0;
  padding: 2vh;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding-left: 12vw;
  a {
    color: white;
    /* text-decoration: none; */
    font-weight: 800;
  }
}

.Small-shape {
  display: block;
  width: 100vw;
  z-index: 1;
  position: absolute;
  top: 10vh;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  background-image: linear-gradient(#f5e6ca, #f5e6ca);
  background-size: cover;
  height: 10vh;
  animation: Rotate-square 10s infinite;
}

#certification {
  display: block;
  margin: 0;
  position:relative;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
}

#links{
  position: relative;
  display: flex;
  margin-top: 10vh;
  flex-direction: row;
  justify-content: center;
  padding: 0 1vw;
  margin: 2vh auto;
  animation: Move-links 2s;
  img {
    width: 1.5vw;
    height: auto;
    padding: 0 1vw;
  }
}

#first-sentence {
  margin-top: 15vh;
  font-weight: 900;
  text-align: center;
  padding-left: 0;
}

#disclaimer {
  font-size: 1vw;
  padding-left: 25vw;

}

#triangle {
  width: 60vw;
  height: auto;
  display: block;
  position: absolute;
  /* left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content; */
  margin-top: 15vh;
  right: 7vw;
  z-index: 1;
  animation: Move-traingle 2s;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
  color: white;
  h2 {
    font-size: 2vw;
    font-weight: 900;
    padding: 1vh;
    text-align: center;
    font-family: "Fascinate inline", cursive;
  }
  h3 {
    font-size: 1.5vw;
    font-weight: 800;
    /* padding: 1vh; */
    text-align: center;
    font-family: "Fascinate inline", cursive;
  }
  img {
    height: 10vh;
    margin: 0;
    padding: 0;
  }
}

.project {
  background-color: #80f9f9e2;
  border-radius: 10px;
  box-shadow: #00102b 0px 0px 50px;
  display: flex;
  margin: 0;
  position:relative;
  right: 0; 
  margin-inline: auto; 
  /* width: fit-content; */
  padding: 1vh;
  margin-top: 20px;
  font-size: 1.5vw;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding-left: 1vw;
  a {
    color: white;
    font-weight: 800;
  }
}

#project-1 {
  animation: Move-line-left 3s;
  left: 50px; 

}
#project-2 {
  animation: Move-line-right 3s;
  background-color: #5c9bffde;
  left: -50px; 

}
#project-3 {
  animation: Move-line-left 3s;
  left: 50px; 

}
#project-4 {
  animation: Move-line-right 3s;
  background-color: #5c9bffde;
  left: -50px; 

}

Footer {
  display: block;
  width: 100vw;
  height: 5vh;
  z-index: 2;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(#0059ff00, #002663);
  color: white;
  padding: 1.2vh;
}

.title-settings{
  padding: 0;
  padding-top: 1vh;
  color: white;
  left: -44vw; 
  right: 0; 
  margin-inline: auto; 
  top: clamp(50px, 13vh, 200px);
  width: fit-content;
  position: absolute;
  font-size: max(10px, 5rem);
  margin-top: 11vh;
  font-family:'Fascinate Inline', cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  animation: Move-Title 2s;
}

#name {
  top: clamp(150px, 18vh, 250px);
  left: -10vw;
  font-size: max(25px, 3.5vw);
}

.hi {
  font-size: 3vw;
  font-family:'Concert One', cursive;
  font-size: min(15rem, 50px);

}

.about-me {
  padding-top: clamp(5px, 0.2vh, 2vh);
  color: white;
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  position: absolute;
  font-size: 2vw;
  font-family:'Concert One', cursive;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
}
/* #line-1 {
  margin-top:17vh;
  animation: Move-line-left 3s;
} */

#line-2 {
  margin-top:29vh;
  animation: Move-line-right 3s;
  left: -14vw; 
}

#line-3 {
  margin-top:34vh;
  animation: Move-line-right 3s;
  left: -8vw; 
}

.App-header {
  min-height: 6vh;
  display: block;
  padding: 1.2vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(#004fe363, #00000000); /*111d32*/
  position: fixed;
  width:100vw;
  z-index: 2;
}

.Sand {
  display: block;
  width: 100vw;
  z-index: 0;
  position: absolute;
  overflow-x: hidden;
  /* background-image: linear-gradient(#f5e6ca, #f5e6ca); */
  background-size: cover;
}

.Arrow {
  display:block;
  color: white;
  font-size: 5rem;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  top: 78vh;
  width: fit-content;
  /* margin: auto;Z */
  z-index: 1;
  rotate: 90deg;
  font-family: 'Courier New', Courier, monospace;
  font-weight:900;
  animation: Arrow-Move 2s infinite;
}

@keyframes Arrow-Move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes Move-Title {
  0% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes Move-line-left {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes Move-line-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes Move-links {
  0% {
    transform: translateY(5vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes Logo-Move {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes Move-square {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes Move-traingle {
  0% {
    transform: translateX(100vh);
    transform: rotate(90deg);
  }
  100% {
    transform: translateX(0vh);
    transform: rotate(0deg);
  }
}

@keyframes Rotate-square {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
